.env
__pycache__/
.ipynb_checkpoints/
.vscode/
.ruff_cache/
fma.body.owl
playground_files/
venv/
venv310/
oaei_SNOMED_whole_ontology.owl
output/*
data/bioml-2024/snomed-fma.body/fma.body.owl
archive/*